<!DOCTYPE html>
<html lang="en">

<head>


    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Scrape the News</title>
</head>

<body>



    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


</body>
<html>